.home_background {
    background-image: url(/public/study_background.avif);
    background-size: cover;
}

.home {
    min-height: 85vh;
    background-color: black;
    opacity: 0.9;
}

.banner {
    width: 100%;
    min-height: 400px;
    display: grid;
    place-content: center;
}

.banner > h2 {
    font-size: 4rem;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cards > a {
    text-decoration: none;
    color: black;
}

.cards > a:hover, a:focus {
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

.card {
    width: 25vw;
    height: 15vw;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.card > p {
    font-weight: bolder;
}

.login-submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.signup-submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}