.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .wrapper-img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-img img{
      width: 100%;
  }