/* BasicDetailsForm.css */
.basic-details-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
}

.details-heading {
    font-size: 16px;
    font-weight: 600;

}

label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.basic-details-form input,
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    appearance: none;
}

.basic-details-form button {
    background-color: #4caf50;
    color: white;
    max-width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.basic-details-form button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    max-width: 200px;
}

.basic-details-form button:hover {
    background-color: #45a049;
}

.basic-details-form button[disabled] {
    background-color: rgb(130, 194, 123);
    /* Semi-transparent version of the original delete button color */
    color: #ffffff;
    cursor: not-allowed;
}


.price-input-container {
    display: flex;
    align-items: center;
}

.currency-label {
    margin-left: 10px;
    font-size: 16px;
    color: #666;
}