.homepage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.navigation {
    background-color: whitesmoke;
    min-height: 100vh;

}

/* .navbar_branding {
    display: flex;
    align-items: center;
    background-color: rgb(210, 210, 210);
    color: #2B3467;
    padding: 10px;
} */

.navbar_logo {
    width: 100px;

}

.navbar_option {
    width: 100%;
    display: block;
    padding: 15px 0 15px 15px;
    background-color: inherit;
    border: 0;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bolder;
}

.navbar_option:focus,
.navbar_option:hover {
    background-color: #2B3467;
    color: whitesmoke;
}