.homepage {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    width: 30%;
    background-color: #a9b9da;
}

.contentt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.contentt > * {
    width: 100%;
}

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 10px; */
    /* margin: 20px; */
    /* gap: 10px; */
}

.videos > * {
    width: calc(33.333% - 20px);
    margin: 10px;
}
/* .navigation {
    background-color: rgb(24, 24, 63);
    min-height: 100vh;
    color: whitesmoke;


} */

/* .navbar_branding {
    display: flex;
    align-items: center;
    background-color: rgb(210, 210, 210);
    color: #2B3467;
    padding: 10px;
} */

.navbar_logo {
    width: 100px;
}


/* About Page css */
.about-page{
    width: 96%;
    margin: auto;
    margin-top: 0.7rem;
    font-family: "Roboto",sans-serif;
}

.about-page .about-desc h3{
    font-size: 1.35rem;
    font-weight: 550;
    height: fit-content;
    margin: 0px;
}
.about-page .about-desc p{
    font-weight: 350;
    font-size: 0.9rem;
    color: rgb(68, 68, 68);
}
.about-page .links img{
    position: static;
    width: 1.5rem;
}
.about-page .links{
    margin-top: 0.4rem;
}
.about-page .links .link{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.about-page .links .link .icon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 1rem;
}
.about-page .links .link .icon-info .icon-header{
    height: fit-content;
}
.about-page .links .link .icon-info h5{
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    margin-bottom: 0px;
    font-size: 1rem;
}
.about-page .links .link .icon-info a{
    font-size: 0.8rem;
    color: #485fc7;
}
.about-page .links .link .icon-info svg{
    font-size: 0.8rem;
}

/* Courses css */

.course-container{
    width: 96%;
    margin: auto;
    margin-top: 0.7rem;
    font-family: "Roboto",sans-serif;
}
.course-container .header-text h6{
    font-weight: 600;
    color: rgb(0, 0, 0);
}
/* CSS */
.button-61 {
  align-items: center;
  appearance: none;
  background-color: #4a56b8;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  margin-left: 0.7rem;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.85rem;
  height: 2.8em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-61:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-61:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-61:hover {
  background-color: rgb(71, 89, 206);
}

.button-61:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}
.courses-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    margin: auto;
}
.courses-list .courses{
    min-width: 300px;
    height: 400px;
}
.courses-list .courses .level{
    font-weight: 700;
    background: -webkit-linear-gradient(90deg,#6980b5, #3f469d,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.courses-list .courses .css-46bh2p-MuiCardContent-root{
    margin: 0px;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
}
.courses-list .courses .css-2ulfj5-MuiTypography-root{
    font-weight: 850;
}
.courses-list .courses .css-dnrpxu-MuiCardActions-root{
    padding: 0px;
    padding-bottom: 7px;
}
.courses-list .courses .tags .css-250zzf-MuiButtonBase-root-MuiFab-root{
    z-index: 0;
    border-radius: 17px;
    min-width: 3.6rem;
    background-color: gray;
}
.courses-list .courses .price{
    font-weight: 700;
    color: black;
}
.courses-list .courses .desc{
    padding: 0px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.courses-list .courses .tag button{
    color: rgb(255, 255, 255);
    text-transform: none;
    font-size: 0.72rem;
    margin: 0.1rem;
}
.courses-list .courses .box1{
    height: fit-content;
}
/* css for home page */
.home-page{
    display: flex;
    width: 96%;
    background-color: white;
    /* margin: 0.7rem; */
    padding: 10px 30px;
    flex-direction: column;
}
.home-page .header1{
    display: flex;
    font-family: "Roboto",sans-serif;
    align-items: center;
    flex-direction: row;
}
.home-page .header1 h5{
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 0, 0) !important;
}
.home-page .line1{
    /* border: 1px solid rgb(192, 191, 189);
    width: 2%;
    margin-right: 0.34rem; */
}
.home-page .line2{
    /* width: 90%;
    margin-left: 0.34rem;
    border: 1px solid rgb(192, 191, 189); */

}