.homepage {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rgb(24, 24, 63);
}

/* .navigation {
    background-color: rgb(24, 24, 63);
    min-height: 100vh;
    color: whitesmoke;


} */

/* .navbar_branding {
    display: flex;
    align-items: center;
    background-color: rgb(210, 210, 210);
    color: #2B3467;
    padding: 10px;
} */

.navbar_logo {
    width: 100px;

}

