.teachers {
    display: flex;
    min-height: calc(100vh - var(--navbar-height, 60px));
    align-items: flex-start;
    background-color: #e7e7e7;
}

.sidebar {
    width: 25%;
    min-height: calc(100vh - var(--navbar-height, 60px));
}

.teachercards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.teachercards > * {
    width: calc(25% - 40px); 
    /* aspect-ratio: 1/1.2; */
    margin: 20px;
}

.sidebar {
    background-color: #a9b9da;
}