.navbar {
    background-color: rgb(210, 210, 210);
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0px 2px 0px 2px #2F58CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    /* height:80px; */
    background: #171b29;
    background-color: #2F58CD
/* background: linear-gradient(90deg, rgba(10,0,129,1) 0%, rgba(38,68,154,1) 47%, rgba(231,226,255,0.7596288515406162) 100%); */

}

.navbar > a {
    text-decoration: none;
}

.navbar_branding {
    display: flex;
    align-items: center;
    /* background-color: rgb(210, 210, 210); */
    color: white;
    cursor: pointer;
}

.navbar_branding:hover {
    text-shadow:  0px 0px 5px black, 
               0px 0px 10px black,
			   0px 0px 15px black;
}

.navbar_branding > img {
    width: 100px;
}

.navbar_right {
    display: flex;
}

.navbar_options {
    margin-right: 50px;
}

.navbar_options > ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 1rem;
    margin:0;
}

li > a {
    text-decoration: none;
    color: #dee1eb94;
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 1.5px;
}

li > a:hover{
    color: white;
    text-decoration: none;
    text-shadow:  0px 0px 5px black, 
               0px 0px 10px black,
			   0px 0px 15px black;
			   /* 0px 0px 20px whitesmoke
			   0px 0px 30px whitesmoke,
			   0px 0px 40px whitesmoke,
			   0px 0px 55px whitesmoke,
			   0px 0px 75px whitesmoke; */
}

.login_details {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userdetails {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 10px 7px 15px;
    background-color: rgb(19, 32, 95);
    border-radius: 99px;
}

.userdetails p {
    margin: 0;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}

.login_details Link{
    text-decoration: none;
}

.login_details > p {
    font-weight: bolder;
    color: whitesmoke;
    margin: 0;
}

.login_signup{
    height:60px;
    width:220px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px 0px; */
}

.btn{
    padding: 10px;
    width: 40%;
    height: 80%;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    background-color: #08242a;
    letter-spacing: 1px;
}
