.navbar {
    background-color: rgb(210, 210, 210);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 5px 5px -5px rgb(122, 122, 122);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    height:80px;
    background: #171b29;
/* background: linear-gradient(90deg, rgba(10,0,129,1) 0%, rgba(38,68,154,1) 47%, rgba(231,226,255,0.7596288515406162) 100%); */

}

.navbar_branding {
    display: flex;
    align-items: center;
    /* background-color: rgb(210, 210, 210); */
    color: #2B3467;
}

.navbar_branding > img {
    width: 100px;
}

.navbar_right {
    display: flex;
}

.navbar_options {
    
    margin-right: 50px;
}

.navbar_options > ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 1rem;
}

li > a {
    text-decoration: none;
    color: #dee1eb94;
    font-weight: 500;
    letter-spacing: 1.5px;
}

li > a:hover{
    color: white;
}

.login_details {
    display: flex;
    gap: 10px;
    align-items: center;
}
.login_details Link{
    text-decoration: none;
}

.login_details > p {
    font-weight: bolder;
}

.login_signup{
    height:60px;
    width:220px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px 0px; */
}

.btn{
    padding: 10px;
    width: 40%;
    height: 80%;
    border-radius: 30px 0px 0px 30px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    background-color: #03738c;
    letter-spacing: 1px;
}
