.navbar {
    background-color: rgb(210, 210, 210);
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 5px 5px -5px rgb(122, 122, 122);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    height:80px;
}

.navbar_branding {
    display: flex;
    align-items: center;
    /* background-color: rgb(210, 210, 210); */
    color: #2B3467;
}

.navbar_branding > img {
    width: 100px;
}

.navbar_right {
    display: flex;
}

.navbar_options {
    
    margin-right: 50px;
}

.navbar_options > ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    font-size: 1.25rem;
}

li > a {
    text-decoration: none;
    color: #2B3467;
    font-weight: bold;
}

.login_details {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login_details > p {
    font-weight: bolder;
}