.navigation {
    background-color: rgb(24, 24, 63);
    min-height: 100vh;
    color: whitesmoke;


}

.navigation > a {
    text-decoration: none;
}

.navbar_option {
    width: 100%;
    display: block;
    padding: 20px 0 20px 15px;
    background-color: inherit;
    border: 0;
    border-bottom: 3px solid #2B3467;
    font-size: 1.3rem;
    text-align: left;
    font-weight: bolder;
    color: rgb(210, 210, 210);
}

.navbar_option:focus,
.navbar_option:hover {
    color: black;
    background-color: rgb(24, 24, 63);
    text-shadow:  0px 0px 5px rgba(255, 255, 255, 1), 
               0px 0px 10px rgba(255, 255, 255, 1), 
			   0px 0px 15px rgba(255, 255, 255, 1),
			   0px 0px 20px whitesmoke,
			   0px 0px 30px whitesmoke;
			   /* 0px 0px 40px whitesmoke,
			   0px 0px 55px whitesmoke,
			   0px 0px 75px whitesmoke; */
}