.navigation {
    background-color: #9ba4b8;
    background-color: #a9b9da;
    min-height: 100vh;
    color: whitesmoke;


}

.navigation > a {
    text-decoration: none;
}

.navbar_option {
    width: 100%;
    display: block;
    padding: 10px 0 10px 15px;
    background-color: inherit;
    border: 0;
    /* border-bottom: 3px solid #2B3467; */
    font-size: 1.3rem;
    text-align: left;
    font-weight: bolder;
    color: #01161E;
}

.navbar_option:focus,
.navbar_option:hover {
    background-color: #01161E;
    color: whitesmoke
    /* text-shadow:  0px 0px 5px rgba(255, 255, 255, 1), 
               0px 0px 10px rgba(255, 255, 255, 1), 
			   0px 0px 15px rgba(255, 255, 255, 1),
			   0px 0px 20px whitesmoke,
			   0px 0px 30px whitesmoke;
			   0px 0px 40px whitesmoke,
			   0px 0px 55px whitesmoke,
			   0px 0px 75px whitesmoke; */
}