.teachercard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(210, 210, 210); */
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    margin: 20px;
    padding: 20px 10px 0 10px;
    box-shadow: 5px 5px 10px 5px rgb(210, 210, 210);
}