.teacher_details {
    width: 100%;
    background-color: #2B3467;
    padding: 20px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    gap: 20px;
}

.teacher_details > img {
    width: 150px;
}