.uploadvideo {
    /* background-image: url(); */
}

.uploadvideo_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 33%;
    padding: 90px 30px;
    margin: 60px auto;
    background-color: rgb(210, 210, 210);
    border: 0;
    border-radius: 10px;
}

.uploadvideo_form > label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 15px;
    font-weight: bolder;

}

.uploadvideo_form > button {
    margin-top: 40px;
    text-align: center;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: green;
    border: 0;
    border-radius: 10px;
}

.uploadvideo_form > label > input{
    height: 2.5rem;
    border: 0;
    border-radius: 10px;
    background-color: white;
    font-size: 1.3rem;
    padding: 0 5px;
}

