.videocard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(148, 146, 146);
}

.videocard > a {
    text-decoration: none;
    color: black;
}

.thumbnailContainer {
    position: relative;
    width: 100%;
}



.thumbnailContainer img {
    position: relative;
    width: 100%;
    aspect-ratio: 1/0.6;
}

.details {
    display: flex;
    /* align-items: flex-start; */
    padding: 5px;
    align-items: center;
}

.details_logo {
    width: 70px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0;
}

p {
    padding: 3px;
    margin: 0;
    font-size: 0.8em;
}


.duration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.662);
    color: white;
    border-radius: 5px;
}