.videocard {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(148, 146, 146);
}

.videocard > a {
    text-decoration: none;
    color: black;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit:cover;
}

.thumbnail > img {
    width: 100%;
}

.details {
    display: flex;
    /* align-items: flex-start; */
    padding: 5px;
}

.details_logo {
    width: 70px;
}

.details > p {
    padding: 5px;
    margin: 0;
    font-size: 1.2rem;
}