.units > :last-child {
    /* ... */
    mask-image: 
      repeating-linear-gradient(transparent, transparent 3px, white 3px, white 4px),
      linear-gradient( transparent 20%, white 90%);
}
.units{
    text-align: center;
    height: 15%;
    font: 1.9rem;
}
.units div{
    font-size: 1.3rem;
}